*{
  padding: 0;
  margin: 0;
  color:#fff;
  fill:#fff;
}
body{
  scroll-behavior: smooth;
  background-color: #000;
}
header{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  height: 50px;
  max-width: 1000px;
  margin: auto;
}
nav section.small-title-nav{
  user-select: none;
  width: 300px;
}
section.small-title-nav h2{
  font-size: 35px;
}
@media screen and (min-width:600px) {
  div.splitter {
    margin: auto;
  }
  nav section.small-title-nav{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width:640px) {
  nav section.small-title-nav {
    margin: auto;
    width: 100%;
  }
  nav section.small-title-nav *{
    text-align: center;
  }
    div.splitter {
      margin: 0;
    }
}